.cabecera{
    position: relative;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(250, 250, 250));
}

.titulo{
    text-align: center;
    background: -webkit-linear-gradient(rgb(0, 153, 255),rgb(172, 3, 194));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}