<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}
  </h1>
</div>

<div class="juego">
 
    <div class="divResultados">
      <label for="">Partidas Ganadas</label> <input type="number" readonly [(ngModel)]="nuevoJuego.ContadorDeGanadas" style="width:30%" class="form-control">
      <label for=""> Partidas Empatadas</label> <input type="number" readonly [(ngModel)]="nuevoJuego.ContadorDeEmpates" style="width:30%" class="form-control">
      <label for="">Partidas Perdidas</label> <input type="number" readonly [(ngModel)]="nuevoJuego.ContadorDePerdidas" style="width:30%" class="form-control">
    </div>

    <div class="divReglas">
      <img class="imgreglas" src="../../../assets/imagenes/ppt-reglas.jpg">
    </div>
  

  <div class="divImagenes">
      <img class="ppt" src="../../../assets/imagenes/ppt-piedra.jpg" (click)="piedra()">
      <img class="ppt" src="../../../assets/imagenes/ppt-papel.jpg" (click)="papel()">
      <img class="ppt" src="../../../assets/imagenes/ppt-tijera.jpg" (click)="tijera()">
  </div>

  <div class="resultado">
      {{Mensajes}}
  </div>

</div>

